In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.filterwarnings('ignore')
sns.set_theme(style="dark")

In [31]:
poblacion = pd.read_csv(r'..\Data\extraido de httpsdatos.gob.ardatasetobras-sistema-sociodemografico.csv')

In [32]:
poblacion.dropna(inplace=True)

In [33]:
poblacion = poblacion.rename(columns={'poblacion_arg': 'Argentina'})
poblacion = poblacion.rename(columns={'poblacion_2': 'CABA'})
poblacion = poblacion.rename(columns={'poblacion_6': 'Buenos Aires'})
poblacion = poblacion.rename(columns={'poblacion_10': 'Catamarca'})
poblacion = poblacion.rename(columns={'poblacion_14': 'Cordoba'})
poblacion = poblacion.rename(columns={'poblacion_18': 'Corrientes'})
poblacion = poblacion.rename(columns={'poblacion_22': 'Chaco'})
poblacion = poblacion.rename(columns={'poblacion_26': 'Chubut'})
poblacion = poblacion.rename(columns={'poblacion_30': 'Entre Rios'})
poblacion = poblacion.rename(columns={'poblacion_34': 'Formosa'})
poblacion = poblacion.rename(columns={'poblacion_38': 'Jujuy'})
poblacion = poblacion.rename(columns={'poblacion_42': 'La pampa'})
poblacion = poblacion.rename(columns={'poblacion_46': 'La Rioja'})
poblacion = poblacion.rename(columns={'poblacion_50': 'Mendoza'})
poblacion = poblacion.rename(columns={'poblacion_54': 'Misiones'})
poblacion = poblacion.rename(columns={'poblacion_58': 'Neuquen'})
poblacion = poblacion.rename(columns={'poblacion_62': 'Rio Negro'})
poblacion = poblacion.rename(columns={'poblacion_66': 'Salta'})
poblacion = poblacion.rename(columns={'poblacion_70': 'San Juan'})
poblacion = poblacion.rename(columns={'poblacion_74': 'San Luis'})
poblacion = poblacion.rename(columns={'poblacion_78': 'Santa Cruz'})
poblacion = poblacion.rename(columns={'poblacion_82': 'Santa Fe'})
poblacion = poblacion.rename(columns={'poblacion_86': 'Santiago del Estero'})
poblacion = poblacion.rename(columns={'poblacion_90': 'Tucuman'})
poblacion = poblacion.rename(columns={'poblacion_94': 'Tierra del Fuego'})

In [34]:
reemplazar = poblacion.columns[1:]
reemplazar

Index(['Argentina', 'CABA', 'Buenos Aires', 'Catamarca', 'Cordoba',
       'Corrientes', 'Chaco', 'Chubut', 'Entre Rios', 'Formosa', 'Jujuy',
       'La pampa', 'La Rioja', 'Mendoza', 'Misiones', 'Neuquen', 'Rio Negro',
       'Salta', 'San Juan', 'San Luis', 'Santa Cruz', 'Santa Fe',
       'Santiago del Estero', 'Tucuman', 'Tierra del Fuego'],
      dtype='object')

In [35]:
for x in reemplazar:
    poblacion[x] = poblacion[x].astype(int)

In [37]:
poblacion

,indice_tiempo,Argentina,CABA,Buenos Aires,Catamarca,Cordoba,Corrientes,Chaco,Chubut,Entre Rios,...,Neuquen,Rio Negro,Salta,San Juan,San Luis,Santa Cruz,Santa Fe,Santiago del Estero,Tucuman,Tierra del Fuego
0,2010-01-01,40788453,3028481,15716942,377676,3373025,1017731,1080017,513433,1255574,...,571910,648277,1239111,696076,443944,275452,3257907,879246,1489225,131661
10,2020-01-01,45376763,3075646,17541141,415438,3760450,1120801,1204541,618994,1385961,...,664057,747610,1424397,781217,508328,365698,3536418,978313,1694656,173432
11,2021-01-01,45808747,3078836,17709598,418991,3798261,1130320,1216247,629181,1398510,...,672461,757052,1441988,789489,514610,374756,3563390,988245,1714487,177697
12,2022-01-01,46234830,3081550,17875743,422476,3835738,1139604,1227736,639294,1410908,...,680726,766387,1459378,797697,520845,383827,3589999,998093,1734118,181983

In [8]:
poblacion = poblacion.transpose()

In [ ]:
poblacion.to_csv('../Data/Densidad_poblacional_provincia.csv')

In [38]:
baf = pd.read_excel(r'..\Data\Internet_BAF.xlsx')
baf

      Año  Trimestre            Provincia  Banda ancha fija  Dial up    Total
0    2022          4         Buenos Aires           4788466   6199.0  4794665
1    2022          4      Capital Federal           1549781   2145.0  1551926
2    2022          4            Catamarca             70908      1.0    70909
3    2022          4                Chaco            143658      5.0   143663
4    2022          4               Chubut            167855    904.0   168759
..    ...        ...                  ...               ...      ...      ...
859  2014          1           Santa Cruz             26304    460.0    26764
860  2014          1             Santa Fe            506000    612.0   506612
861  2014          1  Santiago Del Estero             37124      9.0    37133
862  2014          1     Tierra Del Fuego             27272    766.0    28038
863  2014          1              Tucumán            129944     88.0   130032

[864 rows x 6 columns]

In [ ]:
historico_velocidad_internet = pd.read_csv(r'..\Data\Internet_Accesos-por-velocidad.csv')

historico_velocidad_internet.drop(columns='OTROS',inplace=True)

for x in historico_velocidad_internet.columns[3:]:
    
    historico_velocidad_internet[x] = historico_velocidad_internet[x].astype(int)

historico_velocidad_internet

In [ ]:
historico_velocidad_internet.to_csv(r'..\Data\Internet_Accesos-por-velocidad.csv', index=False)

---

In [ ]:
velocidad_internet = pd.read_csv(r'..\Data\historico_velocidad_internet.csv')

In [ ]:
velocidad_internet['Mbps (Media de bajada)'] = round(velocidad_internet['Mbps (Media de bajada)'],2)

In [ ]:
velocidad_internet['Mbps (Media de bajada)'] = velocidad_internet['Mbps (Media de bajada)'].astype(str).replace('.',',')

In [ ]:
velocidad_internet['Mbps (Media de bajada)'] = velocidad_internet['Mbps (Media de bajada)'].str.replace(".", ",", case=False, regex=False)

In [ ]:
# velocidad_internet.to_csv(r'..\Data\historico_velocidad_internet.csv')